table,
th,
td {
  border: 1px solid black;
  text-align: center;
}
html{
  height: 140%;
}

table {
  width: 60%;
}

.main_form {
  display: block ruby;
  margin-right: 25px;
}
input:invalid {
  border: red solid 2px;
}

input:valid {
  border: green solid 2px;
}
